.container {
  display: flex;
  position: relative;
}

.stories-container {
  width: 480px;
  height: 120px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto 15px auto;
  overflow: hidden;
}

.center-line {
  margin: 0 50px 0 auto;
}

.recommended-container {
  display: flex;
  width: 400px;
  height: 430px;
  flex-direction: column;
}

ul {
  padding: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto 0 auto;
  position: relative;
  left: 200px;
}
